<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- appender name="multiplex" class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
	    <Compressing>true</Compressing>
	    <ReconnectionDelay>10000</ReconnectionDelay>
	    <IncludeCallerData>true</IncludeCallerData>
	    <RemoteHosts>localhost</RemoteHosts>
	</appender-->

	<logger name="org.apache.sshd" level="INFO" />
	<logger name="org.apache.directory.shared" level="INFO" />
	<logger name="org.springframework" level="INFO" />
	<logger name="id.co" level="DEBUG" />
	<logger name="org.soluvas" level="DEBUG" />
	<logger name="com.soluvas" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- appender-ref ref="multiplex"/-->
	</root>

</configuration>
